h1= "#{@celebrity.name} (#{@celebrity.pictures.count} pictures)"

p= link_to t('pictures.upload'), new_celebrity_pictures_path(@celebrity)

- @celebrity.pictures.each do |picture|
  = image_tag picture.attachment.url
