h1= "#{@celebrity.name} (#{@celebrity.pictures.count} pictures)"

nav
  = link_to t('pictures.upload'), new_celebrity_pictures_path(@celebrity)
  '  -
  = link_to t('pictures.leaderboard'), celebrity_leaderboard_index_path(@celebrity)

#voting data={celebrity_id: @celebrity.id}

= javascript_pack_tag 'voting'

css:
  img {
    height: 100%;
    width: 50%;
    cursor: pointer;
    object-fit: contain;
    padding: 1em;
    box-sizing: border-box;
  }

  #voting {
    text-align: center;
  }

  .voting-images {
    width: 100%;
    height: 75vh;
  }
