h1= link_to @celebrity, celebrity_path(@celebrity)

- @pictures.each_with_index do |picture, index|
  p= "#{index + 1}. #{picture.votes.count} votes"
  = image_tag picture.attachment.url(:leaderboard)
